 .images {
    max-height: 550px;
}

.cakeCarousel{   
    max-width: 300px;
    interval: 3;

}

.frontPagePicture{
    width:70%;
    height:auto;
}

.middle{
    margin-left:23%;
}



// @media screen and (max-width:480px){
 
//     .cakeCarousel{
//         max-width: 100px;
//     }

//     .cakeCarousel{
//         max-width: 200px;
//     }
// }