a.nav-link {
    margin-right: 20px;
    font-size:20px;
    
}


.title{
    text-align: center;
}


.headerPic{
    float: right;
}


.logo{
    margin-right:40px;
}

.navbar img {
    border-radius: 50%;

}


.navbar{
    margin-bottom: 20px;
}

