html,body
{
    width: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background: #d6905f;
    // background: url("../images/background.jpg") no-repeat center; 

  
    background-size: contain;

    
}

#siteTitle{
    font-size: 80px;
    text-align: center;
}




// <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a>