.missionStatementText{
    text-align: center;
    font-size: 19px;
    font-style: italic;
    padding-left: 90px;
    padding-right: 90px;
}

.missionStatementTitle{
    text-align: center;
    font-size: 55px;
    font-style: italic;
}